{% extends 'base.html.twig' %}

{% block title %}Hello music!{% endblock %}

{% block body %}  
    <h1> créer une nouvelle music </h1>

    {{ form(form) }}

    <a href="{{ path('app_muscic') }}"> Retour </a>
{% endblock %}
